[Desktop Entry]
Name=Remote Linux
GenericName=Remote
Comment=Control your Linux remotly
Exec=/home/kuba/projects/remote-linux/server-side/autostart.sh
Terminal=false
Type=Application
Icon=dropbox
Categories=Network;FileTransfer;
StartupNotify=false
